pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
spa-om/spa-om.iml
spa-om/.idea/
spa-reagent/.idea/
spa-reagent/spa-reagent.iml
